@use "variables" as var;
.f-heading,
.f-paragraph,
.f-label,
.f-btn {
	font-family: var.$ff-roboto;
	font-style: normal;
	color: #242742;
}
.f-heading {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1; /* 2.5rem */
}
.f-paragraph {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5; /* 1.5rem */
	&::placeholder {
		opacity: 0.5;
	}
}
.f-label {
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.5; /* 1.125rem */
}
.f-btn {
	color: #fff;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5; /* 1.5rem */
}
.m-dashboard-image {
	width: 100%;
}
.m-list {
	&__item {
		display: flex;
		align-items: flex-start;
		gap: 1rem;
		&:not(:last-child) {
			margin-bottom: 0.63rem;
		}
	}
	&__icon {
		width: 1.3125rem;
		height: 1.3125rem;
		& > img {
			width: 100%;
		}
	}
}
.m-form {
	&__label {
		display: block;
		margin-bottom: 0.5rem;
	}
	&__input,
	&__btn {
		width: 100%;
		padding-block: 1rem;
		padding-inline: 1.5rem;
		border-radius: 0.5rem;
	}
	&__input {
		border: 1px solid rgba(25, 24, 43, 0.25);
		margin-bottom: 1.5rem;
	}
	&__btn {
		background: #242742;
	}
}
@media (min-width: 50rem) {
	.f-heading {
		font-size: 3.5rem;
	}
}
